/* ConsutalCEP - http://consultacep.cf
 * https://github.com/wgenial/consultacep
 * Developed by WGenial - http://wgenial.com.br
 */

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main {
  flex: 1;
}
.hero-body {
  padding: 1.5rem;
}
#output {
  padding-top: 1.6rem; 
}
.footer {
  padding: 1.6rem;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out} @keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}} @media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}